/* ----------- brand*/

.brand-logo--big {
    margin-top: .5rem;
    margin-bottom: 0;
    text-align: center;
    // box-shadow: 5px 5px 10px 3px rgb(7, 71, 36);
    
    .brand-logo_link:any-link {
        font-size: 3rem;
        font-family: 'Black Ops One', sans-serif;
        color: var(--secondaire);

    }
}